<div class="login-wrapper mt-3">
  <h2>Log in</h2>
  <form #f="ngForm" (ngSubmit)="onLogin()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          minlength="4"
          maxlength="30"
          required
          name="username"
          [(ngModel)]="userData.username"
        />
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['username']?.invalid && f.controls?.['username']?.touched && f.controls?.['username']?.dirty"
    >
      <app-alert
        *ngIf="f.controls?.['username']?.errors"
        [text]="'Username must contain more than 4 signs'"
      ></app-alert>
    </ng-container>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          required
          name="password"
          [(ngModel)]="userData.password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['password']?.invalid && (f.controls?.['password']?.touched || f.controls?.['password']?.dirty)"
    >
      <app-alert
        *ngIf="f.controls?.['password']?.errors"
        [text]="'You must set a password'"
      ></app-alert>
    </ng-container>
    <div class="d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!f.valid"
      >
        Log in
      </button>
    </div>
    <div>
      <p class="text-center">
        You don't have an account?
        <a routerLink="/register">Register Now!</a>
      </p>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
